

:root{
    --cor-de-fundo: #dd00ff;
    --preto: #00eeff;
    --branco: #ffffff;
    --botao-ativo: #000000;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}


body{

    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch', sans-serif;
}

.conteudo.principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}